snippet d3head "HTML header for d3 visualization" b
<html lang="en">
<head>
<style>
.axis path {
stroke: black;
shape-rendering: crispEdges;
stroke-width: 2.5;
}
.axis line {
shape-rendering: crispEdges;
stroke: lightgrey;
}
.axis text {
font-size: 22px;
font-family: sans-serif;
}
</style>
<svg class="chart"></svg>
</head>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="$1.js"></script>
</body>
endsnippet
